<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="cloudElementCreator" name="Cloud Element Creator" schema="schema/cloudElementCreator.exsd"/>
   <extension-point id="cloudProjectFolder" name="%extension-point.cloudProjectFolder" schema="schema/cloudProjectFolder.exsd"/>
	<extension-point id="cloudResourceCategory" name="%extension-point.clourResourceCategory" schema="schema/cloudResourceCategory.exsd"/>
 <extension-point id="authTokenProvider" name="Authentication Token Provider" schema="schema/authTokenProvider.exsd"/>
 <extension-point id="authTokens" name="Authentication Tokens" schema="schema/authTokens.exsd"/>
	
	<extension
         id="org.eclipse.camf.core.project.CloudProjectBuilder"
         name="%extension.cloudProjectBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.eclipse.camf.core.project.CloudProjectBuilder"/>
      </builder>
   </extension>
   <extension
         id="org.eclipse.camf.core.project.CloudProjectNature"
         name="%extension.cloudProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.camf.core.project.CloudProjectNature"/>
      </runtime>
   </extension>
  <extension
     point="org.eclipse.core.runtime.preferences">
     <scope
           class="org.eclipse.camf.core.project.CloudProjectScope"
           name="org.eclipse.camf.core.projectScope">
     </scope>
   </extension>
   <extension
         point="org.eclipse.camf.core.reporting.problemReporting">
               <problem
            description="Token request canceled"
            id="org.eclipse.camf.core.problem.auth.tokenRequestCanceled">
      </problem>
      <problem
            description="Unable to create credential"
            id="org.eclipse.camf.core.problem.auth.credentialCreateFailed"
            mailto="">
      </problem>
      <problem
            description="Unable to save credential"
            id="org.eclipse.camf.core.problem.auth.credentialSaveFailed"
            mailto="">
      </problem>
      <problem
            description="Invalid token description"
            id="org.eclipse.camf.core.problem.auth.invalidTokenDescription"
            mailto="">
      </problem>
      <problem
            description="Unable to load key file"
            id="org.eclipse.camf.core.problem.auth.keyLoadFailed"
            mailto="">
      </problem>
      <problem
            description="Login failed"
            id="org.eclipse.camf.core.problem.auth.loginFailed">
      </problem>
      <problem
            description="Permission denied"
            id="org.eclipse.camf.core.problem.auth.permissionDenied">
      </problem>
      <problem
            description="Unable to activate token"
            id="org.eclipse.camf.core.problem.auth.tokenActivateFailed"
            mailto="">
      </problem>
      <problem
            description="Authentication token has not been activated yet"
            id="org.eclipse.camf.core.problem.auth.tokenNotYetValid"
            mailto="">
      </problem>
      <problem
            description="Failed to get an authentication token"
            id="org.eclipse.camf.core.problem.auth.didNotGetToken"
            mailto="">
      </problem>
      <problem
            description="Corrupted file"
            id="org.eclipse.camf.core.problem.io.corruptedFile">
      </problem>
      <problem
            description="File not found"
            id="org.eclipse.camf.core.problem.io.fileNotFound">
      </problem>
      <problem
            description="A file or folder operation failed"
            id="org.eclipse.camf.core.problem.io.operationFailed">
      </problem>
      <problem
            description="Unspecified IO problem"
            id="org.eclipse.camf.core.problem.io.unspecified"
            mailto="bugreports@celar.eu">
      </problem>
      <problem
            description="Container cannot contain elements of the specified type"
            id="org.eclipse.camf.core.problem.model.containerCanNotContain"
            mailto="bugreports@celar.eu">
      </problem>
      <problem
            description="Failed to create cloud element"
            id="org.eclipse.camf.core.problem.model.elementCreateFailed">
      </problem>
      <problem
            description="Error while deleting model element"
            id="org.eclipse.camf.core.problem.model.elementDeleteFailed">
      </problem>
      <problem
            description="Failed to load cloud element"
            id="org.eclipse.camf.core.problem.model.elementLoadFailed">
      </problem>
      <problem
            description="The manager cannot manage the specified element"
            id="org.eclipse.camf.core.problem.model.elementNotManageable">
      </problem>
      <problem
            description="Failed to save cloud element"
            id="org.eclipse.camf.core.problem.model.elementSaveFailed">
      </problem>
      <problem
            description="Failed to fetch children"
            id="org.eclipse.camf.core.problem.model.fetchChildrenFailed">
         <reference
               referenceID="org.eclipse.camf.core.solution.net.checkProxySettings">
         </reference>
         <reference
               referenceID="org.eclipse.camf.core.solution.auth.checkTokens">
         </reference>
         <reference
               referenceID="org.eclipse.camf.core.solution.auth.checkCaCertificates">
         </reference>
      </problem>
      <problem
            description="Unable to create preferences"
            id="org.eclipse.camf.core.problem.model.preferenceCreationFailed">
      </problem>
      <problem
            description="Failed to refresh container"
            id="org.eclipse.camf.core.problem.model.refreshFailed">
      </problem>
      <problem
            description="Cannot open closed project"
            id="org.eclipse.camf.core.problem.io.openProjectFailed">
      </problem>
      <problem
            description="Folder creation failed"
            id="org.eclipse.camf.core.problem.io.crateFolderFailed">
      </problem>
      <problem
            description="The VO import was incomplete for one or more VOs"
            id="org.eclipse.camf.core.problem.vo.importIncomplete">
      </problem>
      <problem
            description="The VO import failed for one or more VOs"
            id="org.eclipse.camf.core.problem.vo.importFailed">
      </problem>
   </extension>
   <extension
         point="org.eclipse.camf.core.authTokenProvider">
      <provider
            class="org.eclipse.camf.core.auth.CoreAuthTokenProvider"
            priority="0">
      </provider>
   </extension>
   <extension
         point="org.eclipse.camf.core.cloudResourceCategory">
      <category
            id="org.eclipse.camf.core.model.category.services.deployment"
            name="Cloud Application Deployment Services">
      </category>
      <category
            id="org.eclipse.camf.core.model.category.all"
            name="All Cloud Resources">
      </category>
   </extension>
   
</plugin>
